* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #c1b5b5;
  overflow-x: hidden !important;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em !important;
  color: #c61b07;
  margin: 10px 0;
  font-weight: 500;
}

h2 {
  font-size: 2em !important;
  color: #c61b07;
  margin: 10px 0;
  font-weight: 500;
}
h3 {
  font-size: 1.85em !important;
  color: #c61b07;
  margin: 10px 0;
  font-weight: 500;
}

h4 {
  font-size: 1.65em !important;
  color: #c61b07;
  margin: 10px 0;
  font-weight: 500;
}
h5 {
  font-size: 1.45em !important;
  color: #c61b07;
  margin: 10px 0;
  font-weight: 500;
}
a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #3d3d3d;
}
p strong {
  color: #c61b07;
}
p strong em {
  color: #c61b07;
}
p strong a {
  color: #c61b07;
  text-decoration: underline;
}
p strong a:hover {
  color: #c61b07;
  opacity: 0.6;
  transition: 0.3s;
}
p a {
  text-decoration: underline;
  color: #c61b07;
}
p a:hover {
  opacity: 0.6;
  transition: 0.3s;
}
p em {
  color: #c61b07;
}
p u {
  color: #c61b07;
}

.white {
  color: #ffffff !important;
}
.img-max {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: auto !important;
}
.txt-indent {
  text-indent: 2em;
}

/* ** */
.zoom {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* ** */

/* ****************************** */

#bread-crumbs .container {
  background-image: linear-gradient(
    to right,
    #c81c06,
    #c81c04,
    #c81c06,
    #c81c06
  );
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000;
}
.nav-breadcrumb {
  padding: 8px 8px 8px 20px;
}
.navbar-breadcrumb {
  padding: 8px 10px;
  width: 100%;
}
.breadcrumb-item a {
  font-size: 20px !important;
  font-weight: 500;
  color: #ffffff;
}
.breadcrumb-item a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: 0.5s;
}
.breadcrumb-item.active {
  color: #ece800;
  font-size: 20px !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #f1f1f1;
}
.breadcrumb {
  margin-bottom: 0 !important;
}
/* *************** */

/* table */
.toc-title {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: relative;
  justify-content: center;
}

.toc-title:after {
  visibility: visible;
  display: flex;
  justify-content: center;
  content: "สารบัญ";
  font-size: 2em;
  background: linear-gradient(to bottom, #ff0000, #a8004f);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px #505050);
  /* color: #d07800; */
}

.widget-toc {
  display: table;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #920013;
  padding-right: 1rem;
  margin: 2em 0 !important;
  font-size: 95%;
  width: 50%;
}
.widget-toc a {
  color: #3d3d3d;
  text-decoration: underline !important;
  font-size: 16px;
}
.widget-toc a:hover {
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
.widget-toc ol {
  padding-right: 0px;
  counter-reset: item;
}
.widget-toc ol li {
  display: block;
  position: relative;
}
.widget-toc ol li:before {
  content: counters(item, ".");
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 0.5rem;
  inline-size: max-content;
}
/* table */

header.main-header {
  padding: 15px 0;
  background-color: #6f0205;
}

.header {
  display: flex;
  align-items: end;
}
.card_btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.card_btn a {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 20px;
  background-color: #ffffff;
  color: #72090d;
  border: 2px solid #c81c04;
  border-radius: 5px;
  margin: 0 10px;
}
.card_btn a:last-child {
  margin: 0px 0px 0px 10px !important;
  background-color: #3acd02 !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
  padding: 5px 35px !important;
}
.card_btn a:hover {
  background-color: #72090d;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.card_btn a:last-child:hover {
  background-color: #72090d !important;
  transition: all 0.3s ease-in-out;
}
.block-span {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5px;
}
.block-span span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 0;
}
.block-a {
  display: flex;
  justify-content: flex-end;
}
nav.nav-link {
  background-image: linear-gradient(
    to right,
    #c81c06,
    #c81c04,
    #c81c06,
    #c81c06
  );
}

.list-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px !important;
  list-style: none;
}
.list-nav li {
  padding: 20px 0;
}
.list-nav li a {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #c71b03;
  color: #fff;
  padding-right: 40px;
}
.input-search::placeholder {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
}
.input-search::-webkit-input-placeholder {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
}
.input-search:-moz-placeholder {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  opacity: 1;
}
.input-search::-moz-placeholder {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
  opacity: 1;
}
.input-search:-ms-input-placeholder {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300;
}
.btn-search {
  width: 40px;
  height: 40px;
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  background-color: inherit;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
/*  */
.nav-link a {
  background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
}
.nav-link a:before {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-link a:hover {
  background-position: 0;
}

.nav-link a:hover::before {
  width: 100%;
}
.box-result {
  width: 100%;
  overflow: hidden;
  border: 4px solid #c81c04;
  border-radius: 10px;
}
.box-result p {
  margin-bottom: 0px !important;
  font-size: 2em;
  font-weight: 700;
  color: #ffe634;
  padding: 25px 0;
  text-align: center;
  width: 100%;
  background-color: #c81c06;
}
.box-result .row .col-lg-6:first-child {
  border-right: 4px solid #c81c06;
}
.result-lotto {
  margin: 15px 0 !important;
}
.box-result span {
  font-size: 25px;
  font-weight: 500;
  color: #3e3e3e;
}
.bg-fff {
  background-color: #fff;
  border-radius: 20px;
}
.ul_two {
  display: block;
  color: #000;
  list-style: none;
}
.ul_two li {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #ffe634;
  padding: 10px;
}
.ul_two li p {
  margin-bottom: 0px !important;
}
.section_background {
  background-image: url(./img/section-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.ss_card {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.ss_red {
  background-color: #c81c06;
}
.ss_red p strong {
  color: #ece800 !important;
}
.ss_gray {
  background-color: #c1b5b5;
}
.card_gradint_p {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.card_gradint_p p {
  padding: 8px 15px;
  background-color: #ffe634;
}
.card_gradint_p p.b_g {
  padding: 8px 15px;
  background-color: #c1b5b5 !important;
}
.text-bold-search {
  padding: 10px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #c81c06;
}
.str-news a.animated-button:link,
.str-news a.animated-button:visited {
  position: relative;
  display: inline-block;
  margin: 30px auto 0;
  padding: 10px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #c81c06;
}
.str-news a.animated-button:link:after,
.str-news a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.str-news a.animated-button:link:hover,
.str-news a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
.str-news a.animated-button:link:hover:after,
.str-news a.animated-button:visited:hover:after {
  height: 450%;
}
.str-news a.animated-button:link,
.str-news a.animated-button:visited {
  position: relative;
  display: inline-block;
  margin: 30px auto 0;
  padding: 10px 35px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button.victoria-one {
  border: 2px solid #ffc800;
}
a.animated-button.victoria-one:after {
  background: #000;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.bg_articles {
  border-radius: 10px;
  border: 3px solid #c81c04;
  overflow: hidden;
  background-color: #fff;
}
.news-articles-img {
  padding: 5px;
  background-color: #c81c04;
}
.news-articles-h4 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  color: #c71d06;
}
.view_date {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.usertag {
  padding: 5px 15px 10px 15px;
}
.usertag .tag__info {
  display: block;
  text-align: center;
}
.usertag .tag__info a {
  display: inline-block;
  padding: 0px 15px;
  font-size: 16px;
  background-color: #c71b03;
  margin: 5px 10px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #ffc800;
}
.usertag .tag__info a:hover {
  color: #000;
  text-decoration: underline;
  transition: 0.3s;
}

.btn-btn-success {
  width: 200px;
  font-size: 20px;
  height: 60px;
  border: none;
  outline: none;
  background: #c38b8b;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-btn-success::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-btn-success:hover::before {
  opacity: 1;
}

.btn-btn-success::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #555273;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bg-heading {
  text-align: center;
  margin: 15px 0 !important;
  padding: 10px 10px;
  background-color: #fff;
  border: 2px solid #ff0000;
  border-radius: 10px;
  font-size: 2em !important;
}
.bg_str {
  display: flex;
  justify-content: flex-start;
  color: #ffffff !important;
  padding: 5px 10px;
  background-color: #c81c06;
  border-radius: 10px;
  margin-bottom: 10px;
}
.main_bg_color {
  padding: 15px 0;
  background-color: #c81c06;
}
.ss_question h3 {
  padding: 10px;
  margin: 5px 0 !important;
  border: 2px solid #c81c06;
  background-color: #c1b5b5;
  font-size: 22px !important;
  color: #000 !important;
  border-radius: 3px;
}
.buttons {
  display: block;
  text-align: center;
  padding: 10px 0;
}
.buttons a {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 25px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
}
.buttons a.fb {
  color: #1877f2 !important;
}
.buttons a.tw {
  color: #1d9bf0 !important;
}
.buttons a.i-line {
  color: #06c755 !important;
}
.buttons a i {
  margin-right: 8px;
  font-size: 20px !important;
}
.buttons a.fb:hover {
  background-color: #1877f2 !important;
  color: #fff !important;
  box-shadow: 0 0 5px #1877f2;
  transition: 0.3s;
}
.buttons a.tw:hover {
  background-color: #1d9bf0 !important;
  color: #fff !important;
  box-shadow: 0 0 5px #1d9bf0;
  transition: 0.3s;
}
.buttons a.i-line:hover {
  background-color: #06c755 !important;
  color: #fff !important;
  box-shadow: 0 0 5px #06c755;
  transition: 0.3s;
}
.potsnew {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.potsnew .order_by a {
  text-transform: uppercase;
  color: #ec3700;
  text-shadow: 1px 1px 1px #000;
}
.potsnew .order_by a:hover {
  text-decoration: underline;
  font-style: italic;
  transition: 0.3s;
}
.box-name-category p,
.box-name-tag p {
  color: #0636c7 !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  display: inline-block;
  text-shadow: 1px 1px 1px #f1f1f1;
}
.box-name-category a,
.box-name-tag a {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 0 10px;
  padding: 5px 15px;
  background-color: #c81c04;
  border-radius: 3px;
  color: #fff !important;
  text-decoration: underline;
  display: inline-block;
}
article.err-404 {
  background-color: #000;
}
article.err-404 section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article.err-404 section strong {
  font-size: 4em;
  color: #ff0000;
}
.a_click {
  display: none !important;
}
/* **** */

#nav-footer-bottom {
  display: none !important;
}
.sidenav-slide {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #be0000, #250002);
  overflow-x: hidden;
  transition: 0.6s;
}
@media (max-width: 991px) {
  .card_btn {
    justify-content: center !important;
  }
  .block-a {
    display: flex;
    justify-content: center !important;
  }
  .block-span {
    justify-content: center;
    padding-right: 0px !important;
  }
  .list-nav {
    display: none !important;
  }
  nav.nav-link {
    background-image: none !important;
    background-color: #6f0205 !important;
  }
  .input-search {
    background-color: #6f0205;
  }
  .search-box {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .logo a img {
    width: 267px !important;
  }
  .a_click {
    display: flex !important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 58px;
    height: 58px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 0px 3px #070707;
    color: #fff;;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 #b1b1b1;
    background-color: #ff0000;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
      right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 250ms 1100ms ease,
      width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
      height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .a_click:hover {
    color: #f1f1f1;
    box-shadow: 0 8px 30px 0 #ffffff;
    transition: 0.3s;
  }
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  .sidenav-slide {
    display: block;
    padding-top: 1em !important;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    color: white;
    display: flex;
    cursor: pointer;
  }
  .sidenav {
    padding: 1em 10px 0 10px;
  }

  .sidenav a {
    padding: 8px 8px 12px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .box-result .row .col-lg-6:first-child {
    border-right: 0px !important;
  }
  .logo {
    padding: 10px 20px !important;
  }
  .a_click {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  #nav-footer-bottom {
    display: flex !important;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    bottom: 0;
    left: 0;
    padding: 10px 0 5px 0;
    background-image: linear-gradient(to bottom,#4d0000,#6f0205,#6f0205,#6f0205,#6f0205);
    overflow: hidden;
    box-shadow: 0 0 10px #ffc800;
  }
  #nav-footer-bottom a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  #nav-footer-bottom a span {
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #fff;
  }
  .breadcrumb-item a {
    font-size: 16px !important;
  }

  .breadcrumb-item.active {
    font-size: 16px !important;
  }
}
@media (max-width: 455px) {
  .card_btn a {
    font-size: 16px !important;
  }
  .card_btn a {
    padding: 5px 15px;
  }
  .card_btn a:last-child {
    padding: 5px 15px !important;
  }
}
@media (max-width: 373px) {
  .card_btn a {
    font-size: 12px !important;
  }
  .card_btn a:last-child img {
    width: 15px !important;
  }
}
